<div class="card-body card-topline-aqua">

        @Html.AntiForgeryToken()
        <div class="page-title sbold">Mail versturen</div>
        <hr />
        <p>Mail is verzonden!</p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
