@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav pull-right">
           
            <!-- start manage user dropdown -->
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="username username-hide-on-mobile"> @User.Identity.GetUserName() </span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <!-- end manage user dropdown -->
            <li class="margin-top-10"><input type="submit" value="Afmelden" class="btn btn-circle btn-danger"/></li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav pull-right">
        <li class="margin-top-10"><input type="button" id="registerLink" value="Aanmelden" class="btn red btn-outline btn-circle" onclick="location.href='@Url.Action("Login", "Account")'" /></li>
    </ul>
}
