@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="page-content" style="min-height:90.5vh">
    <div class="row page-content-custom">
        <div class="col-md-12">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">Er is een probleem ontstaan met uw verzoek.</h2>
        </div>
    </div>
</div>

