<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://billie17777-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://billie17777-001-site1.ctempurl.com:8172/msdeploy.axd?site=billie17777-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>billie17777-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\billie17777-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DAL.ApplicationDbContext, DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DAL.MySqlHistoryContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DAL.MySqlHistoryContext, DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DAL.ItemDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DAL.ItemDbContext, DAL" MigrationConfiguration="DAL.Migrations.Configuration, DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Dalcom" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Database={0};Data Source=mysql208.hosting.combell.com;User Id={1};Password=971458Rag;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Dalcom_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database={0};Data Source=mysql208.hosting.combell.com;User Id={1};Password=971458Rag;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DAL.ItemDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DAL.MySqlHistoryContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DAL.ItemDbContext" />
    <_ConnectionStringsToInsert Include="DAL.MySqlHistoryContext" />
  </ItemGroup>
</Project>